* {
    padding: 0;
    margin: 0;
}

.logo {
    width: 15%;
}

.container{
    width: 100%;
}

.main {
    display: flex;
    width: 100%;
}
.d-grid {
    display: block;
   width: 100%;
   border: none;
   
   font-size: 20px;
   font-weight: bold;
   color: white;
   margin-top: 10px;
   padding: 10px 0px;
   border-radius: 10px;
}

.sub_main{
    margin:10% ;
}
.sub_main_img{
    justify-content: center;
    display: flex;
}